<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>

        <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled">
            Active
        </mat-slide-toggle>
   
        <button mat-icon-button color="primary">
            <mat-icon svgIcon="thumbs-up"></mat-icon>
        </button>
  </form>