doctype html
html
  head
    title= title
    link(rel="SHORTCUT ICON" href="favicon.ico" type="image/x-icon")

    <!-- Bootstrap style -->
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

    <!-- My style -->
    link(rel="stylesheet" href="assets/css/style.css")

    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")

    <!--Const-->
    script(src="assets/js/text-content.js")
  body
    block content
