@import '~@angular/material/theming';
$primary: mat-palette($mat-deep-purple);
 
a {
    text-decoration: none;
    color: gray;
}
ul {
    list-style-type: none;
}
li {
    font-size: 1em;
    margin: 5px;
}
.active {
    color: mat-color($primary);
    font-weight: bold;
}
a:hover {
    color: mat-color($primary);
    font-weight: bold;
}